html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

* {
  font-family: "Source Code Pro", monospace;
}

a {
  @apply text-blue-500 no-underline;
}

/* purgecss ignore */
@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: black;
  }
}

@keyframes up-right {
  0% {
    transform: scale();
    opacity: 0.25;
  }
  50% {
    transform: scale (1, 5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.25;
  }
}
.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  opacity: 0.25;
}
.red {
  background-color: red;
  animation: up-right 1s infinite;
}
